<!--<div class="form-group" ng-class="{'has-error': options.validation.errorExistsAndShouldBeVisible}">
    <formly-transclude></formly-transclude>
    <div ng-if="options.validation.errorExistsAndShouldBeVisible" ng-messages="options.formControl.$error">
        <div ng-message="required">{{to.label}} is required</div>
        <div ng-message="minlength">{{to.label}} is Too short</div>
        <div ng-message="{{::name}}" ng-repeat="(name, message) in ::options.validation.messages">
            {{message(options.formControl.$viewValue, options.formControl.$modelValue, this)}}
        </div>
    </div>
</div>-->

<!-- Put custom templates here -->
<div class="form-group" ng-class="{'has-error': options.validation.errorExistsAndShouldBeVisible}">
    <formly-transclude></formly-transclude>
    <div class="my-messages" ng-messages="fc.$error" ng-if="options.formControl.$touched">
        <div ng-message="required">{{to.label}} is required</div>
        <div ng-message="minlength">{{to.label}} is Too short</div>
        <div class="some-message" ng-message="{{::name}}" ng-repeat="(name, message) in ::options.validation.messages">
            {{message(options.formControl.$viewValue, options.formControl.$modelValue, this)}}
        </div>
    </div>
</div>