$db-primary: #2c3e50;
$db-primary-light: #34495e;
$db-bg-content: material-color('grey', '200');
$db-grey-primary: material-color('grey', '300');
$db-grey-dark: material-color('grey', '400');
$db-highlight: material-color('amber', '800');
